*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    letter-spacing: 1px; 
    color: #f2f5f7;
    font-weight: 300;
    box-sizing: border-box;
    }
    .title{
      font-size: 170px;
    }
   
    
    body{
    overflow-x: hidden;
    }
    body, html {
        height: 100%;
    }
    /* Hero Section */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/162397/lost-places-factory-old-lapsed-162397.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
      font-size: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  /* Search Button */
  .search-btn{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 2vh 2vw;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;
    }
    .search-btn:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
    }
    /* Search Bar */
    form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
        color: black;
      }
      
      form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #61DAFB;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none; 
        cursor: pointer;
      }
      
      form.example button:hover {
        color: #131418;
        background-color: black;
        border:1.5px solid #f2f5f7;
        transition: all ease-in-out 350ms;
      }
      
      form.example::after {
        content: "";
        clear: both;
        display: table;
      }
      /* Nav Bar Section */
    nav{
        height: 12vh;
        width: 100vw;
        background-color: black;
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
        display: flex;
        z-index: 10;
        }
        
        .nav-links{
            display: flex;
            list-style: none;
            width: 88vw;
            padding: 0 0.7vw;
            justify-content: space-evenly;
            align-items: center;
            text-transform: uppercase;
            }
            .nav-links li a{
            text-decoration: none;
            margin: 0 0.7vw;
            color: white;
            }
            .nav-links li a:hover {
            color: #61DAFB;
            }
            .nav-links li {
            position: relative;
            }
            .nav-links li a::before {
            display: block;
            height: 1px;
            width: 0%;
            background-color: #61DAFB;
            position: absolute;
            transition: all ease-in-out 250ms;
            margin: 0 0 0 10%;
            }
            .nav-links li a:hover::before{
            width: 80%;
            }
            /* For the Logo */
            .logo{
              padding:1vh 1vw;
              text-align: center;
              }
              .logo img {
              height: 10vh;
              width: 10vw;
              border-radius: 80%;
          }
            /* Get Alerts Button */
            .login-button{
            background-color: transparent;
            border: 1.5px solid #f2f5f7;
            border-radius: 2em;
            padding: 2vh 2vw;
            margin-left: 2vw;
            font-size: 1rem;
            cursor: pointer;
            }
            .login-button:hover {
            color: #131418;
            background-color: #f2f5f7;
            border:1.5px solid #f2f5f7;
            transition: all ease-in-out 350ms;
            }
            /* Join Button */
            .join-button{
            color: #131418;
            background-color: #61DAFB;
            border: 1.5px solid #61DAFB;
            border-radius: 2em;
            padding: 2vh 2vw;
            font-size: 1rem;
            cursor: pointer;
            }
            .join-button:hover {
            color: #f2f5f7;
            background-color: transparent;
            border:1.5px solid #f2f5f7;
            transition: all ease-in-out 350ms;
            }
            /* Nav Bar Skeleton */
            .hamburger div{
            width: 30px;
            height:3px;
            background: #f2f5f7;
            margin: 5px;
            transition: all 0.3s ease;
            }
            .hamburger{
            display: none;
            }
            /* Heading/Title */
            .head_one{text-align: center;
           color: black;
            }
           /* All Paragraph = "p" tags */
            p{
                text-align: center;
                margin: 40px 40px 40px 40px;
                color: black;
            }
            /* Footer Section */
            .footer  {
                display: flex;
            list-style: none;
            width: 88vw;
            padding: 0 0.7vw;
            justify-content: space-evenly;
            align-items: center;
            text-transform: uppercase;
            color: black;
              }
              .footer a {
                color: black;
              }
              
              